{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container frl-container">
	<ul class="nav nav-tabs" role="tablist">
        <li class="" ><a href="{{path('farola_user_preference')}}">Preferences</a></li>
        <li class=""><a href="{{path('fos_user_profile_edit')}}">Identifiers</a></li>
        <li class="active"><a href="">Password</a></li>
    </ul>
    <div class="col-md-6 frl-margin-top-sm">
	    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input class="btn" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
	</div>
</div>
{% endblock body %}
